* {
    margin : 0px;
    padding : 0px;
}

html {
    background-color:#E6E6FA;
}

body {
    width:1024px;
    height:768px;
    margin: 0px auto;
    background-color:#FFFFFF;
}

#header {
    background-color:#FFFF00;
    width: 100%;
    height: 5%;
}

#header ul {
    width: 100%;
    height: 100%;
}

#header ul li {
    display : block;
}

#header_menu {
    float: left;
    width: 10%;
    height: 100%;
}

#header_logo {
    float: left;
    width: 80%;
    height: 100%;
    text-align: center;
}

#header_setting {
    float: right;
    width:10%;
    height:100%;
}

#input_area {
    padding:10px 20px;
    width : 100%;
    height : 15%;
   /* background-color: #333; */
}


#input_area input[type="text"] {
    margin: 10px 20px 5px;
    width: 40%;
    height: 30%;
    font-size: 20px;
}

#input_area input[type="submit"] {

}

#input_area #relations {
    width:75%;
}

#relation_icon,.relation {
    display:block;
    margin: 5px;
    float:left;
}


#result_area {
    width: 100%;
    height: 70%;
    overflow:scroll;
    overflow-x: hidden;
    /* background-color:#F0F0F0; */
}

#result_area .content {
    width: 100%;
    padding: 10px 0px;
    border-top: solid 1px #888888;
    /* border-bottom: solid 1px #888888; */
}


#result_area h3 {
    width: 100%;
    margin: 10px 5px 10px 10px;
}

#result_area .thumnail {
    display: block;
    margin: 10px 30px;
    width: 100px;
    height: 100px;
    float: left;
}

#result_area .desc {
    float:left;
    width:650px;
    height: 100%;
}


#pager_area {
    width:100%;
    height:5%;
}

#prev_page,#prev_page_disable {
    display:block;
    float:left;
    width:50%;
    height:100%;
    text-align:left;
}

#prev_page_disable {
    color:#999999;
}

#next_page {
    display:block;
    float:left;
    width:50%;
    height:100%;
    text-align:right;
}

.clearfix:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;
    clear: both; 
    visibility:hidden;
}

.clearfix{display: inline-block;} 


